<a href="https://colab.research.google.com/github/jeroenoosterveld/python/blob/master/Opdrachten_van_Stijn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Opdracht 1 - Getallen Strings en Conversion

In [0]:
cijferICOR = [5.1, 7.5, 4.3]
cijferPROG = [7.0, 4.5, 3.5]
cijferCSN  = [5.1, 8.8, 10]
bedrag     = 30                # €30,- per punt

# Bereken het gemiddelde van elk vak
gemICOR = sum(cijferICOR)/len(cijferICOR)
gemPROG = sum(cijferPROG)/len(cijferPROG)
gemCSN  = sum(cijferCSN)/len(cijferCSN)

# Bereken het totaal aantal cijfers
aantalCijfers = len(cijferICOR) + len(cijferPROG) + len(cijferCSN)

# Bereken het totale gemiddelde
gemiddelde = (gemICOR + gemPROG + gemCSN) / 3

# Bereken de totale beloning
beloning   = gemiddelde * bedrag * aantalCijfers

print("Mijn cijfers (gemiddeld een ", "{:.1f}".format(gemiddelde), ") leveren een beloning van €", "{:,.2f}".format(beloning) ,"op!")

Mijn cijfers (gemiddeld een  6.2 ) leveren een beloning van € 1,674.00 op!

# Opdracht 2 - Loon
### Zonder validatie:

In [0]:
loon = input("Wat verdien je per uur:")
uren = input("Hoeveel uur heb je gewerkt:")

# Bereken het totaal
totaal = int(loon) * int(uren)

print(uren, "uur werken levert ", totaal, "Euro op")

Wat verdien je per uur:10
Hoeveel uur heb je gewerkt:5
5 uur werken levert  50 Euro op

### Met validatie:

In [0]:
loon = input("Wat verdien je per uur:")
uren = input("Hoeveel uur heb je gewerkt:")

# Bereken het totaal
try:
  totaal = int(loon) * int(uren)

  print(uren, "uur werken levert ", totaal, "Euro op")

except ValueError:
   print("Je moet wel nummers invullen!")

Wat verdien je per uur:10.5
Hoeveel uur heb je gewerkt:3
Je moet wel nummers invullen!

### Met validatie (float):

In [1]:
loon = input("Wat verdien je per uur:")
uren = input("Hoeveel uur heb je gewerkt:")

# Bereken het totaal
try:
  totaal = float(loon) * float(uren)

  print(uren, "uur werken levert ", totaal, "Euro op")

except ValueError:
   print("Je moet wel nummers invullen!")

Wat verdien je per uur:10
Hoeveel uur heb je gewerkt:5
5 uur werken levert  50.0 Euro op

# Datatypes

## Python Collections (Arrays)

### Python Lists
A list is a collection which is **ordered** and **changeable**. In Python lists are written with square brackets.

In [12]:
# List #
thislist = ["apple", "banana", "cherry"]
print(thislist)

# Access item #
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

# Negative indexing #
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

# Range of Indexes #
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

# Loop through a List #
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

# Check if Item Exists #
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
  
# List Length #
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

# Change Item #
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

# Add Items #
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

# Remove Item - remove() #
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

# Remove Item - pop() #
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

# Remove Item - del #
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

# Remove List - del #
thislist = ["apple", "banana", "cherry"]
del thislist
try:
  print(thislist)
except NameError:
  print("I'm not here")

# Empty List #
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

# Copy a List - copy() #
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

# Copy a List - list() #
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

# Join Two Lists #
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

# Join Two Lists - append() #
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)
print(list1)

# Join Two Lists - extend() #
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

# The list() Constructor #
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']
banana
cherry
['cherry', 'orange', 'kiwi']
apple
banana
cherry
Yes, 'apple' is in the fruits list
3
['apple', 'blackcurrant', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry']
['apple', 'banana']
['banana', 'cherry']
I'm not here
[]
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['apple', 'banana', 'cherry']

**List Methods**

* append() - Adds an element at the end of the list
* clear() - Removes all the elements from the list
* copy() - Returns a copy of the list
* count() - Returns the number of elements with the specified value
* extend() - Add the elements of a list (or any iterable), to the end of the current list
* index() - Returns the index of the first element with the specified value
* insert() - Adds an element at the specified position
* pop()	Removes the element at the specified position
* remove() - Removes the item with the specified value
* reverse() - Reverses the order of the list
* sort() - Sorts the list

### Python Tuples

A tuple is a collection which is **ordered** and **unchangeable**. In Python tuples are written with round brackets.

In [22]:
# Tupel #
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

# Create Tuple With One Item #
thistuple = ("apple",)
print(type(thistuple))
thistuple = ("apple")
print(type(thistuple))

# The del keyword can delete the tuple completely #
thistuple = ("apple", "banana", "cherry")
del thistuple
try:
  print(thistuple) #this will raise an error because the tuple no longer exists
except NameError:
  print("I'm not here")
  
# Join Two Tupels #
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

# The tuple() Constructor #
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

cherry
<class 'tuple'>
<class 'str'>
I'm not here
('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry')

**Tupel Methods**

* count()	Returns the number of times a specified value occurs in a tuple
* index()	Searches the tuple for a specified value and returns the position of where it was found

### Python Sets

A set is a collection which is **unordered** and **unindexed**. In Python sets are written with curly brackets.
1.   Sets are unordered, so you cannot be sure in which order the items will appear. 
2.   You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

In [24]:
# Set #
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

**Set Methods**


* add()	Adds an element to the set
* clear()	Removes all the elements from the set
* copy()	Returns a copy of the set
* difference()	Returns a set containing the difference between two or more sets
* difference_update()	Removes the items in this set that are also included in another, specified set
* discard()	Remove the specified item
* intersection()	Returns a set, that is the intersection of two other sets
* intersection_update()	Removes the items in this set that are not present in other, specified set(s)
* isdisjoint()	Returns whether two sets have a intersection or not
* issubset()	Returns whether another set contains this set or not
* issuperset()	Returns whether this set contains another set or not
* pop()	Removes an element from the set
* remove()	Removes the specified element
* symmetric_difference()	Returns a set with the symmetric differences of two sets
* symmetric_difference_update()	inserts the symmetric differences from this set and another
* union()	Return a set containing the union of sets
* update()	Update the set with the union of this set and others